<h2>Products</h2>
<!-- Structural Directive -->
<div *ngFor="let product of products">
  <h3><a [title]="product.name + 'details'">
    {{ product.name}}
  </a>
  </h3>
  <p *ngIf="product.description">
    Description: p{{ product.description}}
  </p>
  <button (click)="share()">Share</button>

  <!-- We pass the product to the product-alerts component -->
  <!-- Property binding -->
  <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
</div>
